extends ../main-layout
block content
    .box
        .box__inner
            .box__image
                figure.image
                    image(src=product.imageUrl alt=product.title)
            .box__info.content
                .box__title
                    span=product.title
                .box__description
                    span=product.description
                .box__price
                    span=product.price
