extends ../main-layout
block content
    .product-container
        .columns 
            .column.is-5
                figure.product__image.image.is-3by2
                    img(src=product.imageUrl alt=product.title)
            .column.is-7 
                h3.is-size-2=product.title 
                p.is-size-4=product.description   
                span='Rs. '+ product.price
        